<script type="text/javascript">
    function callback_func() {
    alert("Javascript callback");
    }
</script>

<div class="toolbar">
	<h1 id="pageTitle">
		Native Menu
	</h1>
</div>

<ul id="dynamicmenus" title="Dynamic Menu Test" selected="true">
	<li>You should see the following menu items in order:</li>
	<li>Go Home</li>
	<li>Refresh</li>
	<li>Options</li>
	<li>Log</li>
	<li>Go to Settings</li>
    <li>Call callback</li>
    <li>Full screen</li>
    <li>Call js callback</li>
</ul>
<br/>

<a href="DynamicMenu/back_with_alert">Test back with alert</a> <br/>
<a href="DynamicMenu/back_with_close">Test back with close</a> <br/>
<a href="DynamicMenu/back_with_back">Test back with :back</a>

<%=get_callback_result()%>