<div class="toolbar">
	<h1 id="pageTitle">
		Dynamic Menu Test
	</h1>
</div>

<ul id="dynamicmenus" title="Dynamic Menu Test" selected="true">
	<li><a href="<%=url_for(:action => :menu_one)%>" target="_self">Load Menu One</a></li>
	<li><a href="<%=url_for(:action => :menu_two)%>" target="_self">Load Menu Two</a></li>
	<li><a href="<%=url_for(:action => :menu_three)%>" target="_self">Load Menu Three</a></li>
</ul>