<div class="toolbar">
	<h1 id="pageTitle">
		Generate Fake Data
	</h1>
</div>

<form title="Generate Fake DB Records" 
		  class="panel"
		  id="newFakeData" 
		  method="POST" 
		  action="<%=url_for(:action => :create)%>" selected="true">

	<fieldset>
		
		  <div class="row">
			  <label>#of records</label>
			  <input type="text" name="numRecords"/>
		  </div>
 	</fieldset>
 
     <input type="submit" value="Create"/>

</form>

