<div class="toolbar">
	<h1 id="pageTitle">
		Select Action:
	</h1>
</div>

<ul id="Actions" title="Actions" selected="true">
<li class="overview">
	<a href="<%=url_for(:action => :show)%>" target="_self">View Data</a>
</li>
<li class="overview">
	<a href="<%=url_for(:action => :generate)%>" target="_self">Generate Data</a>
</li>
</ul>