<div class="toolbar">
	<h1 id="pageTitle">
		Loading data...
	</h1>
</div>

<ul id="FakeDataRecords" title="FakeDataRecords" selected="true">

<% @FakeDataRecords.each do |x| %>

<li class="overview">
		<%= x.attr0 %>
		<div>
		<%= x.attr1 %><%= both_items_present?(x.attr1, x.attr2) ? "<span class='separator'>&nbsp;|&nbsp;</span>" : "" %><%= x.attr2 %>
		</div>
</li>

<% end %>
</ul>
