<div class="toolbar">
	<h1 id="pageTitle">
		<%=@blob.name%>
	</h1>
</div>

<div class="panel" selected="true">

<a class="button right_button" href="<%=url_for(:action => :edit, :id => @blob.object)%>" target="_self">Edit</a>

<table class="grid">
  
  <tr>
	<td class="gridleft">Name</td>
    <td class="gridright"><%=@blob.name%></td>
  </tr>
  
</table>
</div>