<div data-role="page">

  <div data-role="content">
       
            <%= link_to '[return to start page]', { :action => :index }%>
<br>  

<br>  

Selected item : <b><div id='selected_item'>none</div></b>

  </div>

</div>
