<div data-role="page">

  <div data-role="content">
       
            <%= link_to '[return to start page]', { :action => :index }%>
<br>  

<br>  

Selected item : <b><%= $selected_item.to_s %></b>

  </div>

</div>

