<div class="toolbar">
	<h1 id="pageTitle">
		My Calendar Events
	</h1>
</div>

<ul id="calendar" title="My Calendar Events...">
  <%=link_to "New...", { :action => :new }, "class=\"button right_button\"" %>
  <% get_events().each_index do |i| %>
    <li><%= link_to get_events()[i][Rho::RhoEvent::TITLE], { :action => :edit, :id => i } %></li>
  <% end %>
</ul>
