<div class="toolbar">
	<h1 id="pageTitle">
		My Calendar Events
	</h1>
</div>

<ul id="calendar" title="My Calendar Events...">
  <%=link_to "New...", { :action => :new }, "class=\"button right_button\"" %>
  <% @events.each do |e| %>
    <li><%= link_to e[Rho::RhoEvent::TITLE], { :action => :edit, :id => e[Rho::RhoEvent::ID] } %></li>
  <% end %>
</ul>
