<html>
<head>
<script language="JavaScript" type="text/javascript" >
function return_str_to_html(str){

	document.getElementById("hidden_svg_data").setAttribute("value", escape(str));
}
</script>

</head>
<body>
<table border="1">
  <tr>
  <td> 
    Your Signature 
  </td>
 </tr>
  <tr>
    <td>
      <div>
        <object data="/public/js/blank.svg" type="image/svg+xml" width="350px" height="60px">
          <embed src="/public/js/blank.svg" type="image/svg+xml" width="350px" height="60px">
        </object>
      </div>
   </td>
 </tr>
</table>

<input type="button" value="clear signature" onclick="window.clear_svg()">
</div>


<form name="loginform" method="post" action="save.php" onSubmit="window.submit_svg()">
<input id="hidden_svg_data" type="hidden" name="svg_data">
<input type="submit" value="Submit This Form">
</form>
</body>
</html>
