<div>
	<% if @ringtones.empty? %>
		Ring tones are not accessible
	<% else %>
		<% @ringtones.each do |k,v| %>
			<%= link_to k, { :action => 'play', :query => { :name => k, :file => v } } %> <br/>
		<% end %>
	<% end %>
</div>
