<div class="toolbar">
	<h1 id="pageTitle">
		JSON tests
	</h1>
</div>

<ul id="home" selected="true" title="System Api Samples">
	<li><%=link_to "Parse test.json", :action => :filetest%></li>
	<li><%=link_to "Call webservice", :action => :webservicetest%></li>
    <br/><br/>
</ul>
