<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <head>
    <title>Animation test</title>
  <% if System::get_property('platform') == 'APPLE' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="/public/css/iphone.css" type="test/css" rel="stylesheet"/>
  <% end %>
    <script src="/public/js/animation.js"></script>
  </head>
  <body onLoad="startAnimation(0)">
    <%= @content %>
  </body>
</html>
