<div class="toolbar">
	<h1 id="pageTitle">
		Rho tests
	</h1>
</div>

E400 error page. Happen when ::Rhom::RecordNotFound exception raised <br/>
<pre>
    <%= Rho::RHO.current_exception.message() %>
</pre>    