<script language="JavaScript">
        
if (location.search =='?settings=true') {
    window.location ='/app/Settings';
}

</script>

<div class="toolbar">
    <h1 id="pageTitle">
        System Api Samples
    </h1>
</div>

<ul id="home" selected="true" title="System Api Samples">
    <li><a href="Contacts">My Contacts...</a></li>
    <li><a href="GeoLocation">My Location...</a></li>
    <li><a href="Camera">My Camera Images...</a></li>   
    <li><a href="DateTime">Select date/time...</a></li>
    <li><a href="Alert">Alerts...</a></li>
    <li><a href="Ringtones">Ringtones...</a></li>
    <li><a href="FakeDataRecord">Generate Fake Data...</a></li>
    <li><a href="Noresponse">Test No Response</a></li>
	<li><a href="HttpTest">Net/Http test</a></li>
	<li><a href="HttpsTest">Net/Https test</a></li>
    <li><a href="Localization">Localization test</a></li>
    <li><a href="DynamicMenu">Dynamic Menu Test</a></li>
    <li><a href="CustomUri">Custom URI schemes</a></li>
    <br/><br/>
</ul>
