<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Zoom test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.01, maximum-scale=10.0, user-scalable=yes"/>
	</head>
	<body>
		<%= @content %>
	</body>
</html>