<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Address metadata</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li>
        No metadata loaded
      </li>
    </ul>
  </div>

</div>
