<div class="toolbar">
	<h1 id="pageTitle">
		My Event
	</h1>
</div>

<ul id="events" title="My Events...">
<%=link_to "New...", { :action => :new }, "class=\"button right_button\"" %>	
<%@events.each do |x|%>
<li><%=link_to "#{x[1]['title']}", :action => :show, :id => x[1]['id']%></li>
<%end%>
</ul>
