<div class="pageTitle">
  <h1>Battery</h1>
</div>

<div id="Battery" style="width: 30%;height: 50%;border: 1px solid black">
    <div id="Bpercent" style="width: 0%;height: 40%;background: green">
    </div>
    
</div>    