<div>
	<p>Test custom URI schemes</p>
  <a href="mailto:test@host.com">Send e-mail to test@host.com</a><br/>
  <a href="tel:+1222333444">Call +1222333444</a><br/>
  <a href="sms:+1222333444">Send SMS to +1222333444</a><br/>
  <a href="http://www.google.com">Open Google in current window</a><br/>
  <a href="http://www.google.com/?rho_open_target=_blank">Open Google in external browser</a><br/>

  <%=link_to "sms by controller:+1222333444", :action => :send_sms%>
</div>
