<div>
	<p>Test custom URI schemes</p>
  <a href="mailto:test@host.com">mailto:test@host.com</a><br/>
  <a href="tel:+1222333444">tel:+1222333444</a><br/>
  <a href="sms:+1222333444">sms:+1222333444</a><br/>
</div>
