<h3>Generate PDF and open it on platform</h3>
<div>
    <br>
    On iOS platform prepared PDF opened in special platform preview control.<br>
    In this control you can view PDF/print it/send via mail/open in another application.
    <br>
    <br>
    <%= link_to '[Generate and open PDF file]', { :action => :open_pdf }%><br/>
</div>
