<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>Login</h1>
  </div>

  <div data-role="content">
    <form title="Login to Rhodes"
          class="panel"
         id="user_edit_form"
       method="POST"
       action="<%=url_for(:action => 'do_login')%>" selected="true">

      <% if @msg %>
        <p style="color:#ff0000"><%= @msg %></p>
      <% end %>

      <table class="grid">
        <tr>
          <td class="gridleft" style="color:#000000">Login</td>
          <% if System::get_property('platform') == 'WINDOWS' %>
            <td class="gridright"><input type="text"  size=15 maxlength="50" name="login"/></td>
          <% else %>
            <td class="gridright"><input type="text" maxlength="50" name="login"/></td>
          <% end %>
        </tr>
        <tr>
          <td class="gridleft" style="color:#000000">Password</td>
          <% if System::get_property('platform') == 'WINDOWS' %>
            <td class="gridright"><input type="text" size=15 maxlength="50" name="password"/></td>
          <% else %>
            <td class="gridright"><input type="text" maxlength="50" name="password"/></td>
          <% end %>
        </tr>
      </table>

      <p align="center">
        <input type="submit" value="Login"/><br/>
        <a href="<%=Rho::RhoConfig.start_path%>" target="_self">Cancel</a>
      </p>

    </form>
  </div>

</div>
