<div class="toolbar">
	<h1 id="pageTitle">
		Not supported
	</h1>
</div>

<%= @ns_feature%>
feature is not supported on
<%= @ns_platform%>
platform. Please see Rhodes Device Capabilities section of documentation for the full list of available capabilities.
