<div class="toolbar">
	<h1 id="pageTitle">
		Rho tests
	</h1>
</div>

<ul id="home" selected="true" title="System Api Samples">
	<li><%=link_to "render :string", :action => :render_string%></li>
	<li><%=link_to "render :file", :action => :render_file%></li>       
</ul>
