<div id="pageTitle">
    <h1>New UIFormDemo</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @uiformdemo.object %>"/>

        <h2 class="groupTitle">Textbox</h2>
        <table>
              <tr>
                  <td width="125">Title: </td>
                  <td><input type="text" name="uiformdemo[title]"/></td>
              </tr>

              <tr>
                  <td width="125">Description: </td>
                  <td><input type="text" name="uiformdemo[description]"/></td>
              </tr>
        </table>

        <h2 class="groupTitle">Checkbox</h2>
        <table>
            <tr>
              <td width="125">Checkbox1: </td>
              <td><input type="text" name="uiformdemo[checkbox1]" value="checkbox1"/></td>
            </tr>

            <tr>
              <td width="125">Checkbox2: </td>
              <td><input type="text" name="uiformdemo[checkbox2]" value="checkbox2"/></td>
            </tr>

            <tr>
              <td width="125">Checkbox3: </td>
              <td><input type="text" name="uiformdemo[checkbox3]" value="checkbox3"/></td>
            </tr>
        </table>

        <h2 class="groupTitle">Radio Button</h2>
        <table>
            <tr>
              <td width="125">Radiobutton1: </td>
              <td><input type="text" name="uiformdemo[radiobutton]"  value="radio1" /></td>
            </tr>

            <tr>
              <td width="125">Radiobutton2: </td>
              <td><input type="text" name="uiformdemo[radiobutton]"  value="radio2" /></td>
            </tr>

            <tr>
              <td width="125">Radiobutton3: </td>
              <td><input type="text" name="uiformdemo[radiobutton]"  value="radio3" /></td>
            </tr>
        </table>

        <h2 class="groupTitle">Select Box</h2>
        <table>
            <tr>
                <td>
                    <select name="uiformdemo[selectbox]">
                        <option selected>Please select</option>
                        <option value="apple">iPhone</option>
                        <option value="android">Android</option>
                        <option value="blackberry">BlackBerry</option>
                        <option value="winmo">Windows Mobile</option>
                    </select>
                </td>
            </tr>
        </table>

        <h2 class="groupTitle">TextArea</h2>
        <table>
            <tr>
                <td width="125">Textarea: </td>
                <td><textarea name="uiformdemo[textarea]" rows="5" cols="30"></textarea></td>
            </tr>
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>