<div id="pageTitle">
    <h1>New Task</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @task.object %>"/>
        <table>
    		
    		  <tr>
    			  <td width="125">Title: </td>
    			  <td><input type="text" name="task[title]"/></td>
    		  </tr>
    		
  		
      		  <tr>
      			  <td width="125">Description: </td>
      			  <td><input type="text" name="task[description]"/></td>
      		  </tr>

    		  <tr>
    			  <td width="125">Not started </td>
    			  <td><input type="radio" name="task[status]" value="new"/></td>
              </tr>
              <tr>
                  <td width="125">In progress </td>
            	  <td><input type="radio" name="task[status]" value="current"/></td>
              </tr>
              <tr>
                  <td width="125">Finished </td>
                  <td><input type="radio" name="task[status]" value="complete"/></td>
    		  </tr>    		
    		  <tr>
    			  <td width="125">Project: </td>
    			  <td>
    			      <select name="task[project]">
                          <option selected>Please select</option>
                          <option value="apple">iPhone</option>
                          <option value="android">Android</option>
                          <option value="blackberry">BlackBerry</option>
                          <option value="winmo">Windows Mobile</option>
                      </select>
                  </td>
    		  </tr>
    		
    		  <tr>
    			  <td width="125">Deadline: </td>
    			  <td><input type="text" name="task[deadline]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td width="125">Shared: </td>
    			  <td><input type="checkbox" name="task[shared]"/></td>
    		  </tr>
    		
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>