<div class="toolbar">
	<h1 id="pageTitle">
		Please wait...
	</h1>
</div>

<ul id="home" selected="true" title="Wait">
    <li><%=link_to "Cancel", :action => :cancel_httpcall%></li>
    <br/><br/>
</ul>
