<!doctype html>
<html>
<head><title>HTML5 Media</title>
  <script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>

  <script type="text/javascript">
    $(window).load(function(){
        setTimeout(function(){
            $('#myVideo')[0].play();
        }, 1);
    });
  </script>

</head>
<body>

<p>HTML5 embedded video</p>
<video id="myVideo"
       src="/public/media/demo.mp4"
       controls="controls"
       width="480"
       height="270"
>
  This browser doesn't support HTML5 video!
</video>

</body>
</html>
