<div align="center">

	<p>Your location using geo-tags:</p>
	<geolocation></geolocation>
	<br/>
	Latitude: <geolatitude></geolatitude><br/>
	Longitude: <geolongitude></geolongitude>
	<br/>
	
	<p>Your location using ruby api:</p>
	<%= GeoLocation.latitude.abs.to_s + " " + (GeoLocation.latitude < 0 ? "South" : "North") + ", " +
	GeoLocation.longitude.abs.to_s + " " + (GeoLocation.longitude < 0 ? "West" : "East") %>
	<br/>
	Latitude: <%= GeoLocation.latitude.to_s %><br/>
	Longitude: <%= GeoLocation.longitude.to_s %>
	<br/>
  	<p>Geo-location information available asynchronously, 
	so you may have to <a href="/app/GeoLocation" target="_self">refresh page</a> 
	to see results of ruby calls</p>
</div>