<p>You selected: [<%= @params['city']%>]
<% if @params['latitude'] and @params['longitude'] %>
: location (<%=@params['latitude']%>, <%=@params['longitude']%>)
<%end%>
</p>
<a href="/app/GeoLocation">Location page</a>