<div class="toolbar">
	<h1 id="pageTitle">
		No Response Test
	</h1>
</div>

<p>To test do the following</p>
<br/>
1. Uncomment the "Rho::RhoConfig::add_source..." line in app/Noresponse/config.rb<br/>
2. Load a fresh instance of the application in a simulator<br/>
3. Login & sync<br/>
4. You should see the client hang for a while and eventually error out, this is expected<br/>