<div class="toolbar">
  <h1 id="pageTitle">Navigation bar test</h1>
</div>

<ul>
  <li><%= link_to "Enable navigation bar", :action => :enable %></li>
  <li><%= link_to "Enable navigation bar (left button only)", :action => :enable1 %></li>
  <li><%= link_to "Disable navigation bar", :action => :disable %></li>
</ul>
