<div class="toolbar">
    <h1 id="pageTitle">
        Screen Rotation CallBack
    </h1>
</div>

Rotate device to catch callback
<br>
Current callback state :
<br>
<b><%=$callback_state%></b>
<br>
<br>
<%= link_to '[ set Screen Rotation callback]', { :action => :set_callback }%>
<br>
<%= link_to '[ unset Screen Rotation callback]', { :action => :unset_callback }%>


        

